*{
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand img {
    min-width: 180px;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 2rem;
    font-weight: bold;
    color: #171b64;
    padding-right: 4rem;
    padding-left: 4rem;
    text-transform: uppercase;
}

.imagen-central, .imagen-central-mobile {
    position: relative;
    background-image: url(../imagenes/fondo2.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
}

.texto-imagen-central {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.fondo-transparente {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.texto-celeste {
    color: #68bdd2;
}

.texto-rojo {
    color: #d3014c;
}

.texto-marron {
    color: #563a28;
}

.cuadrado-color {
    height: 140px;
}

.color-frio1 {
    background: #68bdd2;
}

.color-frio2 {
    background: #9ed9e9;
}

.color-frio3 {
    background: #9bd8d0;
}

.color-frio4 {
    background: #95e8de;
}

.color-frio5 {
    background: #d1f9f8;
}

.color-calido1 {
    background: #ffab00;
}

.color-calido2 {
    background: #ff7f00;
}

.color-calido3 {
    background: #ff3801;
}

.color-calido4 {
    background: #d3014c;
}

.color-calido5 {
    background: #a8006d;
}

.color-marron1 {
    background: #553a27;
}

.color-marron2 {
    background: #e7c27b;
}

.color-marron3 {
    background: #f2eadf;
}

.color-marron4 {
    background: #f2a241;
}

.color-marron5 {
    background: #edd3b8;
}


#rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   
    -webkit-background-clip: text;
  color: transparent;
    font-size: 32px;
    text-align: center;
    width: 600px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    
}

#casamarilla{
    width: 550px; 
    height: 500px;
}

#colorado{
    font-size: 30px;
    color: brown;
    
}

#gris{
    color: gray;
    font-size: 30px;
}


#productos {
    text-transform: uppercase;
}

#productos article {
    padding-bottom: 4rem;
}

#productos article img {
    width: 60%;
    height: auto;
}

#productos article h2{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

#productos article ul li{
    font-size: 1.5rem;
}

#mancha1 {
    background-image: url(../imagenes/mancha.png);
    background-position: right center;
    background-repeat: no-repeat;
}

#mancha2 {
    background-image: url(../imagenes/mancha2.png);
    background-position: center top;
    background-repeat: no-repeat;
}



@media screen and (max-width: 1280px){
    .navbar-light .navbar-nav .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 1024px){
    .texto-imagen-central {
        font-size: 1.3rem;
    }

    .cuadrado-color {
        height: 112px;
    }

    .navbar-brand img {
        min-width: auto;
        width: 170px;
    }

    #productos article {
        padding-bottom: 0;
    }
    
    #productos article h2 {
        text-align: left;
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px){
    .detalles {
        margin-left: 30%;
    }

    #mancha2 {
        background-position: bottom left;
    }

    #productos {
        background-image: url(../imagenes/mancha2.png);
        background-position: left 30%;
        background-repeat: no-repeat;
        padding-bottom: 4rem;
    }
}

@media screen and (max-width: 420px){
    .navbar-brand img {
        width: 120px;
    }

    .detalles {
        margin-left: 0;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 1.5rem;
    }

    #productos article img {
        width: 100%;
    }
    
    #productos article h2 {
        font-size: 1.6rem;
    }

    #productos article ul li {
        font-size: 1.1rem;
    }

    #mancha1, #mancha2 {
        background-position: top right;
    }

    .imagen-central {
        background-position: right center;
    }

    .imagen-central, .imagen-central-mobile {
        height: 400px;
    }

    .cuadrado-color {
        height: 80px;
    }
}

